* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  width: 90vw;
  margin: 0 auto;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 32px;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 16px 32px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 40px;
  border: 1px #ff4b4b;
  background: #f00d0d;
}

body {
  position: relative;
  background-color: #ebf0ff;
}

.absoluter > div {
  position: absolute;
  z-index: -1;
  width: 634px;
  height: 634px;
}

.rectangle1 {
  top: 445px;
  left: -280px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffdf7c 0%,
    rgba(246, 251, 248, 0) 100%
  );
}
.rectangle2 {
  opacity: 0.7;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #b9ceea 0%,
    rgba(246, 251, 248, 0) 100%
  );
  left: 172px;
  top: -100px;
}
.rectangle3 {
  opacity: 0.7;
  left: 620px;
  top: 100px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffdf7c 0%,
    rgba(246, 251, 248, 0) 100%
  );
}

.rectangle4{
  top: 340px;
  right: 140px;
  background: radial-gradient(50% 50% at 50% 50%, #B9CEEA 0%, rgba(246, 251, 248, 0.00) 100%);
}

.rectangle5{
  top: 1300px;
  left: 350px;
  opacity: 0.7;
background: radial-gradient(50% 50% at 50% 50%, #B9CEEA 0%, rgba(246, 251, 248, 0.00) 100%);
}
.rectangle6{
  right: 100px;
  bottom: 810px;
  opacity: 0.4;
  background: radial-gradient(50% 50% at 50% 50%, #FFDF7C 0%, rgba(246, 251, 248, 0.00) 100%);}

/* header qismini to'grilab olaman men  */

.header-content {
  display: block;
}

header .container {
  display: flex;
  gap: 150px;
  justify-content: center;
}
.header-content-image {
  position: relative;
  width: 50%;
}
.header-content-image img {
  position: absolute;
  right: 0;
}
.header-content-image img:first-child {
  top: 80px;
}
.header-text h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.change-text {
  color: #5380ea;
}
.header-text span img {
  width: 244.043px;
  height: 18.128px;
  transform: rotate(3.462deg);
}
.header-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}
.card {
  display: flex;
  width: 577px;
  padding: 24px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 10px;
  background: #f6fbf8;
  box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(2px);
}
.card h3 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card p {
  color: #515151;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.last-card {
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    #f6fbf8 0%,
    #f6fbf8 0.01%,
    rgba(246, 251, 248, 0) 100%
  );
  backdrop-filter: blur(2px);
  box-shadow: none;
}

.last-card > img,
.last-card > div {
  display: none;
}

.main-content {
  display: flex;
  border-radius: 10px;
  background: #f6fbf8;
  box-shadow: 0px 34px 44px -20px rgba(185, 206, 234, 0.25);
  width: 80vw;
  padding: 24px;
  gap: 10px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-text {
  display: flex;
  gap: 24px;
  padding: 24px;
}
.card-text {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.card-text h3 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-text p {
  color: #515151;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 300px;
}

section {
  margin: 50px 0;
}
.section-header {
  width: 441px;
  margin: 0 auto;
  text-align: center;
}
.section-header h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-header p {
  color: #515151;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.banner-right {
  transform: rotate(180deg);
}
.section-banner {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-banner ul {
  list-style: none;
  display: flex;
  gap: 60px;
}
.section-banner ul li img {
  width: 100px;
  height: 100px;
  filter: grayscale(80%);
}

.form-image {
  position: relative;
  width: 40%;
  left: 30px;
}
.form-image img {
  position: absolute;
}
.form-image .ball {
  z-index: -1;
  top: -20px;
}

.form-main {
  display: flex;
  justify-content: center;
}
.form-page {
  border-radius: 10px;
  background: #fff;

  /* s2 */
  box-shadow: 0px 34px 44px -20px rgba(185, 206, 234, 0.25);
  display: flex;
  padding: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
form .form-letter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-letter label {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form-letter span {
  color: #eb5939;
}
.form-letter input {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  outline: #5380ea;
  border-radius: 5px;
  border: 1px solid #dee6ff;
  background: #f9faff;
}
.form-letter input::placeholder {
  color: #aaa;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form button {
  border-radius: 40px;
  border: 1px solid #5380ea;
  background: #5380ea;
  box-shadow: 0px 10px 34px 0px rgba(83, 128, 234, 0.5);
  width: 200px;
}

form p {
  width: 441px;
}

main {
  margin: 100px 0;
}
hr {
  background-color: #9ca0ff;
  height: 1px;
  border: 0;
}
