*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;

}
.container{
    width: 90vw;
    margin: 0 auto;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.header-content{
    display: flex;
    border: 1px solid black;
}